body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    height: 512px;
}

.buttons {
    display: flex;
}

.display {
    font-size: 64px;
    text-align: right;
    border-style: solid;
}

.operator-btns {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 48px;
    margin: 4px;
    flex-grow: 1;
}
